<div class="container-fluid">
  <div class="jumbotron">
  <h1 id="main-heading">Flourlicious</h1><br>
  <p id="find-recipe">The best baking recipes for everyone.</p>
</div>
</div>

<div class="container-fluid" id="latest-recipes">
  <h2 id="latest-recipes"> Latest Recipes </h2>
</div>
