// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#user-name {
  text-align: center;
  font-size: 40px;
  margin-top: 12%;

}

#profile-jumbo {
  height: 300px;
}

#about-me-container {
  text-align: center;
  margin-top: 1%;
}

#about-me {
  font-size: 30px;
  display: inline-block;
  &:after{
    border-bottom: 2px solid #ccc;
    content: '';
    display: block;
    margin: 2.0rem 4rem 0;
  }
}

#profile-recipes {
  font-size: 30px;
  display: inline-block;
  &:after{
    border-bottom: 2px solid #ccc;
    content: '';
    display: block;
    margin: 2.0rem 4rem 0;
  }
}

#profile-recipes-container {
  text-align: center;
  margin-top: 1%;
}
