// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  height: 400px;
  background-image: url(/assets/bake.jpg);
  background-size: cover;
  background-position: 0% 90%;

}

@import url('https://fonts.googleapis.com/css?family=Allura');

#main-heading {
  text-align: center;
  color: white;
  font-family: Allura;
  font-size: 100px;
}
@import url('https://fonts.googleapis.com/css?family=Alegreya Sans');
#web-description {
  font-family: Alegreya Sans;
  font-size: 25px;
  text-align: center;
  color: white;
}

#latest-recipes {
  text-align: center;
  font-family: Alegreya Sans;
  font-size: 30px;
}
